extends ../layout/achievementPageTemplate/achievementPageTemplate.pug

block variables 
  -
    let title = "Тест"
    let cover = "/images/background.webp"
    let shortdesc = "Первое место на Цифровом Прорыве и ещё какой то дополннительный текст"
    let members = [{fio:"Фамилия И. О.", img:"/images/background.webp"},{fio:"Фамилия И. О.", img:"/images/background.webp"},
    {fio:"Фамилия И. О.", img:"/images/background.webp"},{fio:"Фамилия И. О.", img:"/images/background.webp"},
    {fio:"Фамилия И. О.", img:"/images/background.webp"},{fio:"Фамилия И. О.", img:"/images/background.webp"}]

block fulldesc
  p 
  | Сегодня завершился четвёртый тематический 
  | 48-часовой хакатон «Креативные индустрии, коммуникации и контент» 
  | Цифрового Прорыва 2021. Как вы уже догадались, мы и в этот раз не остались в стороне!

  p 
  | Из 105 решений команд по 8 трекам команда RealityGuys 
  | взяла первое место в треке от Ростелекома и 250 000 рублей! Ребята выбрали кейс 
  | "Графический редактор для Дизайн-системы РТК". Нужно было создать интуитивно-понятный 
  | инструмент, в котором соблюдаются все правила дизайн-системы компании, 
  | и команда успешно с этим справилась!

  br
  br

  span 
    strong Дата проведения: 
    | 22 авг. 2022

//- внутри этого блока можно сделать все, что угодно
block otherInfo 

