.header__headerParent {
	transition: all 250ms ease;
	padding: 50px 50px;
	position: fixed;
	top: 0px;
	display: flex;
	column-gap: 20px;
	align-items: center;
	width: 100vw;
	z-index: 50;

	a {
		color: white;
	}

	&[scroll="true"] {
		background-color: white;
		padding: 15px 30px;

		-webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

		a {
			color: black;
		}

		.header__line {
			background-color: black;
		}

		img {
			width: 50px;
		}
	}

	img {
		transition: all 250ms ease;
		width: 0px;
		height: fit-content;
		cursor: pointer;

		&:active {
			transform: scale(0.8);
		}
	}

	.header__elementsParent {
		display: flex;
		position: relative;
		column-gap: 20px;

		& a:nth-child(1):before {
			display: none;
		}

		.header__element {
			transition: all 100ms ease;
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			text-decoration: none;
			cursor: pointer;
			position: relative;

			&:hover {
				color: #708ad4;
			}

			& > * {
				cursor: pointer;
			}

			&:active {
				padding-top: 2px;
				margin-bottom: -2px;
			}

			&:before {
				transition: all 150ms ease;
				content: " ";
				display: block;
				background: black;
				height: 5px;
				border-radius: 100px;
				position: absolute;
				bottom: -10px;
				width: 0px;
				left: 50%;
			}

			&[active="true"] {
				&:before {
					transition: all 150ms ease;
					width: 100%;
					margin: 0 auto;
					left: 0;
				}
			}
		}
	}

	.header__line {
		transition: all 150ms ease;
		width: 0px;
		height: 5px;
		margin-top: 2px;
		border-radius: 100px;
		background-color: white;
	}

	@media (max-width: 1000px) {
		padding: 20px 20px;
		.header__elementsParent {
			column-gap: 15px;
		}
	}

	@media (max-width: 850px) {
		padding: 10px 20px;
		background-color: white;
		width: 100vw;
		-webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
		img {
			width: 50px;
		}

		&[scroll="true"] {
			padding: 10px 20px;
		}

		.header__elementsParent {
			z-index: 5;
			transition: left 250ms ease;
			position: fixed;
			width: 100vw;
			top: 70px;
			left: -105vw;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
			margin-top: 70px;

			.header__element {
				text-align: center;
			}
		}
	}
}

.header__menuCheckBox {
	display: none;

	&:checked {
		@media (max-width: 850px) {
			& ~ label > .header__backgroundPanelParent {
				position: fixed;
				top: 70px;
				left: 0px;
				width: 100%;
				height: calc(100vh - 70px);
			}

			& ~ .header__elementsParent {
				transition: left 250ms ease;
				left: 0px;
				color: black !important;

				& > * {
					color: black;
				}

				& > a > * {
					color: black !important;
				}
			}
		}
	}
}

.header__backgroundPanelParent {
	position: fixed;
	z-index: 1;
	width: 0px;
	height: 0px;
	background-color: rgba(255, 255, 255, 0.664);
}
