-
  const pages = [
  { title: "О НАС", secName: "about" },
  { title: "ПРОЕКТЫ", secName: "projects" },
  { title: "ДОСТИЖЕНИЯ", secName: "achievemtns" },
  { title: "ОБОРУДОВАНИЕ", secName: "equipment" },
  { title: "СОТРУДНИКИ", secName: "staff" },
  { title: "КОНТАКТЫ", secName: "contacts" },
    ];
.header__headerParent.noselect#header(ref='parentContainer')
  input#showMenu.header__menuCheckBox(type='checkbox')
  label(for='showMenu')
    img(src='/images/logo.webp' alt='')
  div.header__elementsParent#headerElements
    each obj in pages
      if(obj.secName==="about")
        a(href=`#${obj.secName}` class="header__element" onclick="window.scrollTo(0,0); document.getElementById(\"showMenu\").checked=false;")
          =obj.title
      else 
        a(href=`#${obj.secName}` class="header__element" onclick="document.getElementById(\"showMenu\").checked=false;")
          =obj.title

  label(for='showMenu')
    .header__backgroundPanelParent
      div
