include ../../js/data/staff.pug


article(class="staff__parent" id="staff")
	section(class="staff__content")
		h1 Сотрудники
		.swiper.staff__swiper
			.swiper-wrapper
				each obj in staffData
					.swiper-slide
						.userscard__parent
							img(srcset=obj.img loading="lazy" alt="" width="150px" height="429px")
							.userscard__info
								.userscard__fio
									= obj.name
								.userscard__tagsParent
									each tag in obj.tags.split(", ")
										div
											= tag

