.statusBar {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  max-width: min(900px, 80vw);
  margin: 0 auto;
  margin-top: 20px;

  & div:nth-child(n) {
    transition: all 250ms ease;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px #0066cc solid;

    &[active="true"] {
      background-color: #0066cc;
    }
  }

  @media (max-width: 700px) {
    column-gap: 5px;
    row-gap: 10px;
    & div:nth-child(n) {
      width: 5px;
      height: 5px;
    }
  }
}
