.project__title {
    background: rgba(0, 0, 0, 0.41);
    color: #e2001c;
    text-align: center;
    text-shadow: 0 4px 5px #e40025;
    font-size: 4.5vh;
    font-family: 'Sansation Regular', sans-serif;
    padding: 0.2em 0;
    margin: 20px 0;
}

.project__button_back {
    background: rgba(0, 0, 0, 0.41);
    color: #FFF;
    text-align: center;
    padding: 0.3em 0;
    font-size: 3vh;
    font-family: 'Sansation Regular', sans-serif;
    width: 100%;
    border-style: none;
}

.project__button_back:hover {
    color: #e2001c;
}

.project__description {
    text-align: justify;
}

.project p,
.project a {
    color: rgba(255, 255, 255, 0.54);
    font-family: 'Sansation Regular', sans-serif;
    white-space: pre-line;
}

.project span {
    color: rgba(255, 255, 255, 0.95);
    font-family: 'Sansation Regular', sans-serif;
}