.parent {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10vh 0px;

  .content {
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

    h1 {
      font-weight: bold;
      font-size: 56px;
      line-height: 66px;
      text-align: center;
      padding: 0px;
      margin: 0px;
      @media (max-width: 350px) {
        font-size: 40px;
      }
    }

    .cards {
      column-gap: 15px;
      overflow: auto;
      display: flex;
    }

    .swiper {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      cursor: grab;

      & div:nth-child(n) {
        width: fit-content;
      }
    }
  }
}

.lastSlideElement {
  width: 20vw !important;

  @media (max-width: 1000px) {
    width: 50vw !important;
  }
}
