include ../../js/data/equipment.pug 

-
  let i = 0;

article(class="equipment__parent" id="equipment")
  div(class="equipment__content")
    h1 Оборудование
    while i < equipmentData.length
      .equipment__elements(invert=((i+1)%2===0).toString() lastelem=(i+1===equipmentData.length).toString() hidden=(i>0).toString()) 
        each obj in equipmentData[i]
          .equipment__element(style=`background: url("${obj.img}"), black;`)
            span
              = obj.name
            span.equipment__count
              = obj.count

      - i++
  button(onclick='for(let i of document.querySelectorAll(".equipment__elements[hidden=true]")) i.setAttribute("hidden","false"); this.style.display="none";')
    | Показать еще
