include ../../js/data/achievementsData.pug

article#achievemtns.achievements__achievementsParent
	section.achievements__content
		h1 Достижения
		article.achievements__text
			| Команды Reality из RTUITLab многократные победители
			| хакатонов и конференций. Многие сотрудники являются преподавателями
			| образовательных программ, которые Институт ИТ проводит в сотрудничестве
			| с компаниями Яндекс, Samsung, Huawei и другими, а также преподают
			| на внутренних кафедрах Института.

		section
			.swiper.achievements__swiperParent
				.swiper-wrapper
					.swiper-slide
						div(style="width:5vw;")
					each obj in achievementsData.sort((i,j)=>(Date.parse(i.date))<Date.parse(j.date)?1:-1)
						.swiper-slide
							a(href="achievements/" + obj.link).achievementCard__parent
								h1
									=obj.title.replaceAll("\\n", "")
								article.achievementCard__desc
									p
										=obj.shortdescription.replaceAll("\\n", "")

								.linkButton(href="achievements/" + obj.link) Подробнее
								img(src=obj.images[0] alt='Обложка достижения' loading='lazy')
					.swiper-slide
						div(style="width:5vw;")

			.swiper-pagination.achievements__swiperPagination