.achievements__achievementsParent {
  overflow-x: hidden;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0px;
  overflow: hidden;

  .achievements__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    h1 {
      font-weight: bold;
      font-size: 56px;
      line-height: 66px;
      text-align: center;
      padding: 0px;
      margin: 0px;

      @media (max-width: 400px) {
        font-size: 40px;
      }
    }

    .achievements__logo {
      width: 50vw;
      max-width: 300px;
    }

    .achievements__text {
      max-width: 950px;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #666666;
      padding: 0 15px;

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }

    .achievements__swiperParent {
      width: 100%;
      max-width: 100vw;
      height: 100%;
      cursor: pointer;
      user-select: none;
      -moz-user-select: none;
    }
  }
}

.achievementCard__parent {
  color: black;
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column;
  align-items: center;
  width: 450px !important;
  min-width: 450px;
  row-gap: 15px;
  background-color: white;
  border-radius: 15px;
  padding-top: 20px;

  @media (max-width: 550px) {
    width: 350px !important;
    min-width: 350px;
  }
  @media (max-width: 400px) {
    width: 300px !important;
    min-width: 300px;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center;
    color: #121212;

    padding: 0px 15px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .achievementCard__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center;
    color: #666666;
    min-height: 38px;

    max-width: calc(100% - 40px);
    align-items: center;
    display: flex !important;

    & p:nth-child(n) {
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
    }
  }
  a {
    color: #0066cc !important;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  img {
    width: 100%;
    max-width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    object-fit: cover;
  }
}
