.projectPageTemplate {
	background-color: #f3f3f3;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 50px;

	header {
		width: 100%;
		margin: 0 auto;
		max-width: 1000px;
		position: relative;


		.buttonContainer {
			display: flex;
			align-items: flex-start;
			padding: 40px 15px;

			button {

				display: grid;
				grid-template-columns: auto auto;
				column-gap: 5px;
				align-items: center;
				border: none;
				border-radius: 15px;
				padding: 7px 10px;
				cursor: pointer;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				width: 110px;
				line-height: 28px;
				text-align: center;
				color: #0066cc;
				height: fit-content;
				background-color: white;
				padding-right: 105px;

				img {
					width: 30px;
				}
			}

			.titleContainer{
				width: 100%;
				display: grid;
				justify-content: center;




				h1 {
					margin: 0px;
					justify-self: center;
					text-align: center;
					width: fit-content;
					margin-right: 110px;
					padding: 0 15px;
					font-style: normal;
					white-space: normal;
					font-weight: bold;
					font-size: 36px;
					line-height: 42px;
					text-align: center;
					color: #121212;
				}
			}

			@media (max-width: 700px) {
				flex-direction: column;
				padding-top: 25px;
				button{
					align-self: flex-start;
				}
				.titleContainer{
					h1 {
						margin: 10px 0px;
						margin-top: 25px;
						font-size: 30px;
					}
				}
			}
		}

		.cover {
			max-width: 1000px;
			height: fit-content;
			padding: 0 15px;
			margin: 0 auto;
			position: relative;
			display: block;

			& > span {
				position: absolute;
				padding: 25px;
				font-style: normal;
				font-weight: bold;
				font-size: 40px;
				color: #ffffff;
				max-width: 900px;
				width: 80vw;
				z-index: 1;


			}

			& > img {
				border-radius: 15px;
				width: 100%;
				max-height: 400px;
				object-fit: cover;
				height: fit-content;
			}
			@media (max-width: 700px) {
				& > span{
					font-size: 25px;
				}
				& > img{
					object-fit: contain;
					height: 100%;
				}
			}
		}

		.desc {
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			color: #666666;
			max-width: 550px;
			margin: 0 auto;


		}
		@media (max-width: 550px) {
			& > img{
				object-fit: contain;
				height: 100%;
			}
			.desc{
				font-size: 18px;
			}
		}
	}

	main {
		max-width: 1000px;
		margin: 0 auto;
		.content {
			padding: 0px 15px;
			padding-top: 10px;
			position: relative;
			column-gap: 25px;
			flex-wrap: wrap;
			display: grid;
			grid-template-columns: auto auto;
			max-width: 1000px;
			margin: 0 auto;

			.info {
				flex: 1 1 40%;

				.tags	 {
					line-height: 20px;

					font-weight: normal;
					color: #707070;
					font-size: 16px;
				}

				p {
					font-style: normal;
					font-weight: normal;
					color: #000;
				}
			}

			@media (max-width: 980px) {
				img {
					flex: 1 1 auto;
					width: 100%;
				}
				.info {
					flex: 1 1 auto;
					padding-top: 20px;
				}
			}

			.galleryParent {
				flex: 0 0 40%;

				.projectsSwiperParent {
					max-width: 485px;
					cursor: pointer;
					user-select: none;
					-moz-user-select: none;
					margin: 0 0;
					border-radius: 15px;
					height: 300px;

					img, video {
						object-fit: cover;
						height: 300px;
						width: 485px;
						border-radius: 15px;
					}
				}

				.projectsSwiperPagination {
				}
			}

			@media (max-width: 890px) {
				grid-template-columns: auto;
				.galleryParent {
					position: relative;
					max-width: 100%;
					.projectsSwiperParent {
						width: 100%;
						position: relative;
						max-width: 100%;
						& *:nth-child(n){
							width: 100% !important;
							max-width: 100%;

						}
						img {
							object-fit: cover;
							max-width: none;

						}
					}
				}
			}
		}

		.otherInfo {
			margin: 0 auto;
			padding-top: 20px;
			max-width: 1000px;
		}

		.infoBlock {
			padding-top: 20px;
			max-width: 900px;

			h3 {
				margin: 0;
			}

			.itemsParent {
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				row-gap: 10px;
				column-gap: 10px;
				width: fit-content;
				padding-top: 20px;

				.item {
					margin: 2.5px;

					padding: 10px 15px;
					border-radius: 15px;
					background-color: white;
					display: flex;
					column-gap: 15px;
					align-items: center;

					a {
						color: #0066ccda;
						text-decoration: none;
						font-weight: bold;
					}

					img {
						width: 36px;
						height: 36px;
						border-radius: 100%;
						object-fit: cover;
						object-position: center;
					}

					p {
						margin: 0;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						color: #666666;
					}
				}
			}
		}
	}
}
