.swiper{
  width: 400px;
  max-width: 400px;
  overflow: hidden;
  cursor: grab;

  & div:nth-child(1){
    display: flex;
    width: fit-content;
    & div:nth-child(n){
      background-color: black;
      color:white;
      height: 400px;
      width: 400px !important;
    }
  }
}
