@import "src/components/colors";

.headerParent {
  transition: all 250ms ease;
  padding: 50px 50px;
  position: fixed;
  top: 0px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  width: 100vw;
  z-index: 50;
  color: white;


  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &[scroll=true] {
    background-color: white;
    padding: 15px 30px;
    color: black;

    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

    .line{
      background-color: black;
    }
    img{
      width: 50px;
    }
  }

  img {
    transition: all 250ms ease;
    width: 0px;
    height: fit-content;
    cursor: pointer;

    &:active {
      transform: scale(0.8);
    }
  }

  .elementsParent {
    display: flex;
    position: relative;
    column-gap: 20px;


    .element {
      transition: all 100ms ease;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      cursor: pointer;

      &:active {
        padding-top: 2px;
        margin-bottom: -2px;
      }
    }
  }

  .line {
    transition: all 150ms ease;
    width: 0px;
    height: 5px;
    margin-top: 2px;
    border-radius: 100px;
    background-color: white;
  }

  @media(max-width: 1000px) {
    padding: 20px 20px;
    .elementsParent {
      column-gap: 15px;
    }
  }

  @media(max-width: 850px) {
    padding: 10px 20px;
    background-color: white;
    width: 100vw;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    img{
      width: 50px;
    }

    &[scroll=true] {
      padding: 10px 20px;
    }


    .elementsParent {
      z-index: 5;
      transition: left 250ms ease;
      position: fixed;
      width: 100vw;
      top: 70px;
      left: -105vw;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      padding-top: 20%;



      .element {
        text-align: center;
      }
    }
    .elementsParent[show=true] {
      transition: left 250ms ease;
      left: 0px;
      color: black;
    }
    .line {
      display: none;
    }
  }

  .backgroundElement{
    transition: all 250ms ease;
    height: calc(100vh - 72px);
    left: 0px;
    top:72px;
    visibility: hidden;
    z-index: 2;
    width: 100vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(10px) brightness(1.1);
    opacity: 0;
  }
  .backgroundElement[show=true]{
    opacity: 1;
    visibility: visible;
  }
}



