@font-face {
    font-family: "Sansation Regular";
    src: url("../../fonts/sansation-regular.ttf");
}

.about-wrapper {
	padding: 40px 0;
}

.about__title {
	margin-left: 2vw;
	position: relative;
}

.about__title h3 {
    text-transform: uppercase;
    font-size: 5vh;
    font-family: 'Sansation Regular', sans-serif;
    border-left: 2px solid #e2001c;
    padding-left: 10px; 
}

.about__title:before {
	position: absolute;
  	display: block;
  	content: '';
  	width: 200px;
	  top: 43%;
	  left: -190px;
  	border-bottom: 2px solid #cecece;
}

.about__text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 2vh;
	font-family: 'Sansation Regular', sans-serif;
	padding-bottom: 20px;
}

.about__video {
	margin: 0 auto;
}

.about-wrapper {
    margin: 0 10vw;
}