.equipment-wrapper {
    margin: 0 3vw 50px 3vw;
    scrollbar-face-color: #b46868;
}

.equipment__title {
  margin: 3vw 8.2vw;
}

.equipment-wrapper .slick-slide{
  margin: 0 auto;
}

.equipment__item {
  border: 1px solid #efefef;
}

.equipment__item img {
  padding: 10px;
}

.equipment__item_title {
  padding: 7px;
  background: rgba(0, 0, 0, 0.41);
  text-align: left !important;
  margin: 0;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-family: 'Sansation Regular', sans-serif;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 5vh 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #cecece;
    border-radius: 1.3px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(255, 0, 0, 0.5), 0px 0px 1px rgba(255, 0, 0, 0.5);
    border: 2px solid #ff0000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }


  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background:  #cecece;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #cecece;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #cecece;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    .slider__control {
      display: none;
    }
    .equipment__title {
      margin-bottom: 5vh
    }
  }

  @media screen and (max-width: 650px) {
    .equipment__item_title h5 {
      font-size: 16px;
    }
  }