include ../../js/data/projectsData.pug

-
  let tags = ["Все","Backend", "Frontend", "VR", "AR", "ML"]

article#projects.projects__projectsParent
  div.projects__content
    h1 Проекты
    article.projects__text
      |  Чем мы занимаемся? Мы создаем программные продукты, которые используются в
      |  различных сферах деятельности и выводят образовательный процесс на новый
      |  уровень. Команды Reality из RTUITLab многократные победители хакатонов и
      |  конференций. Многие сотрудники являются преподавателями образовательных
      |  программ, которые Институт ИТ проводит в сотрудничестве с компаниями
      |  Яндекс, Samsung и другими, а также преподают на внутренних кафедрах
      |  Института.
    section.projects__tags
      each obj in tags
        if(obj==="Все")
          input(name="projects__tags" type="radio", id=`projects__tags__all`, checked) 
          label(for=`projects__tags__all` onclick=`generateProjects("all")`)
            =obj
        else 
          input(name="projects__tags" type="radio", id=`projects__tags__${obj}`) 
          label(for=`projects__tags__${obj}` onclick=`generateProjects("${obj}")`)
            =obj
    section#GalleryParent.gallery__parent
      each obj in data
        .gallery__galleryItem.noselect
          img(draggable='false' src=obj.images[0] alt='')


    section#projectInfoContent.projects__projectsInfo
      h2 
        b#currentProjectTitle Some text
    section#projectsStatusBar.statusbar__statusBar
      each obj in data
        div 





