.projects__projectsParent {
  overflow: hidden;
  display: block;
  background-color: white;
  padding: 10vh 15px;

  .projects__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    h1 {
      font-weight: bold;
      font-size: 56px;
      line-height: 66px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }

    .projects__text {
      max-width: 950px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #666666;
      margin: 0px;

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
    .tagElement {
      display: none;
    }
    .projects__tags {
      display: flex;
      justify-content: space-between;
      max-width: 450px;
      width: 100%;
      flex-wrap: wrap;
      row-gap: 20px;
      padding-bottom: 5px;
      margin-bottom: -25px;
      border-bottom: 1px #666666 solid;

      font-style: normal;
      font-weight: normal;
      color: #666666;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      @media (max-width: 500px) {
        flex-wrap: wrap;
        border-bottom: none;
        justify-content: center;
        column-gap: 25px;
      }
      input {
        display: none;
      }
      & *:nth-child(n) {
        cursor: pointer;
      }
      & input:checked + label {
        border-bottom: 1px black solid;
        padding-bottom: 6px;
        margin-bottom: -6px;
        font-weight: bold;
        color: black;
      }
    }
    .projects__galleryParent {
      transition: all 250ms ease;

      &[hide="true"] {
        transition: all 250ms ease;
        transform: translateY(10px);
        opacity: 0;
      }
    }
  }
  .projects__projectsInfo {
    transition: opacity 250ms ease;
    margin-top: -20px;
    display: grid;
    row-gap: 10px;

    h2 {
      max-width: 800px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin: 0px;
      color: #000000;
    }
    .projects__projectsDesc {
      max-width: 700px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #666666;
      margin: 0px auto;
    }
  }
}

.statusbar__statusBar {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  max-width: min(900px, 80vw);
  margin: 0 auto;

  & div:nth-child(n) {
    transition: all 250ms ease;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px #0066cc solid;

    &[active="true"] {
      background-color: #0066cc;
    }
  }

  @media (max-width: 700px) {
    column-gap: 5px;
    row-gap: 10px;
    & div:nth-child(n) {
      width: 5px;
      height: 5px;
    }
  }
}

.projects__hide {
  opacity: 0;
}
