.header-wrapper {
    position: relative;
    height: 100vh;
    background-image: url('./src/back_cutted.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.header__canvas {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 4vh
}

@media screen and (max-width: 1024px) {
    .header__canvas {
        display: none;
    }
}

