.header-wrapper {
    position: relative;
    height: 100vh;
    background-image: url('./src/roof.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}