@font-face {
    font-family: "LucidaGrande";
    src: url("../../fonts/LucidaGrande.ttf");
  }

.footer-wrapper {
    padding: 5vw 5vw 2vw 5vw;
    background: #010323;
}

.footer__title {
    margin-left: 15px;
}

.contacts {
    margin-bottom: 20px;
}

.footer__navigation {
    margin-top: 3vh;
    color: #6f6f6f;
    font-size: 16px;
    font-family: "LucidaGrande", sans-serif;
}

@media screen and (max-width: 900px){
    .footer__navigation {
        font-size: 14px;
    }
}

.footer__navigation ul {
    list-style: none;
    padding: 0;
}

.footer__navigation ul li {
    cursor: pointer;
}

.footer__navigation ul li a {
    color: #6f6f6f;
    text-decoration: none;
}

.footer__navigation ul li span {
    cursor: default;
}

.footer__right li {
    text-align: right;
}

.copyright-wrapper {
    margin-top: 2vh;
    text-align: center; 
}

.copyright {
    margin-left: 14px;
    display: inline-block;
}

.copyright__circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: inherit;
    border: 2px solid #ff0000;
    border-radius: 50%;
}

.footer_logo {
    height: 2rem;
    margin: 0 0.5rem;
}

.github {
    -webkit-filter: invert(1);
    filter: invert(1);
}


@media screen and (max-width: 700px){
    .footer__navigation {
        font-size: 12px;
    }
    .footer_logo {
        height: 1rem;
        margin: 0.3rem;
    }
}

@media screen and (max-width: 800px){
    .footer_logo {
        height: 1.3rem;
        margin: 0.3rem;
    }
}

@media screen and (max-width: 500px){
    .footer__navigation {
        font-size: 10px;
    }
}
