@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Raleway:wght@400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  font-family: Raleway, sans-serif;
}
h1 {
  font-family: Raleway, sans-serif;
}
* {
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.swiper-slide {
  width: fit-content !important;
}

.swiper-pagination {
  width: 100% !important;
  position: relative !important;
  bottom: auto !important;
  max-width: min(80vw, 900px);
  margin: 25px auto;
  column-gap: 15px;
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 700px) {
    column-gap: 5px;
    row-gap: 10px;
    & *:nth-child(n) {
      width: 5px;
      height: 5px;
    }
  }
}

.swiper-pagination-bullet {
  transition: all 250ms ease;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 3px #0066cc solid;
  opacity: 1;
  background-color: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0066cc;
}

.noselect {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noselect *:nth-child(n) {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
