doctype html

html(lang="ru")
	head
		script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
		link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js", defer)
		include ./seo.pug
		script(src="./styles.js", async)
		script(src="./js/about/about.js", defer)
		script(src="./js/header/header.js", defer)
		script(src="./js/projects/projects.js", defer)
		script(src="./js/achievements/achievements.js", defer)
		script(src="./js/staff/staff.js", defer)

	body
		header
			include ./layout/header/header.pug
		main#pageContentParent
			include ./layout/about/about.html
			include ./layout/projects/projects.pug
			include ./layout/achievements/achievements.pug
			include ./layout/equipment/equipment.pug
			include ./layout/staff/staff.pug
			include ./layout/footer/footer.pug





