DOCTYPE html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js") 
    title Document
    script(src="./styles.js", async) 
    script(src="./js/about/about.js", defer) 
    script(src="./js/header/header.js", defer) 
    script(src="./js/projects/projects.js", defer) 
  body 
    main 
      include ./layout/header/header.pug
      include ./layout/about/about.html
      include ./layout/projects/projects.pug



