doctype html

html(lang="ru")
	head
		include ./seo.pug


		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./indexStyles.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./js/gallery/gallery.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/header/header.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/about/about.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/projects/projects.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/achievements/achievements.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/equipment/equipment.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/staff/staff.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/footer/footer.scss')

		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='https://fonts.googleapis.com/css2?family=Aldrich&family=Raleway:wght@400;500;600;700&display=swap')

		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='https://unpkg.com/swiper@8/swiper-bundle.min.css')
		script(src="./js/about/about.js", defer)
		script(src="./js/header/header.js", defer)
		script(src="./js/projects/projects.js", defer)

		script(defer="defer").
			let scripts = [
				"https://unpkg.com/swiper/swiper-bundle.min.js",
				"https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"
			]
			for (let i of scripts) {
				var js = document.createElement('script');
				js.src = i;
				var head = document.getElementsByTagName('head')[0];
				head.appendChild(js);
			}

	body
		header
			include ./layout/header/header.pug
		main#pageContentParent
			include ./layout/about/about.html
			include ./layout/projects/projects.pug
			include ./layout/achievements/achievements.pug
			include ./layout/equipment/equipment.pug
			include ./layout/staff/staff.pug
			include ./layout/footer/footer.pug





