@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Raleway:wght@400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
  max-width: 100vw;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: Raleway;
  font-style: normal;
}

.swiper-pagination {
  width: 100% !important;
  position: relative !important;
  bottom: auto !important;
  max-width: min(80vw, 900px);
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 15px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-theme-color);
}

.noselect {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noselect *:nth-child(n) {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
