doctype html

html(lang="ru")
	head
		include ./seo.pug


		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./indexStyles.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./js/gallery/gallery.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/header/header.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/about/about.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/projects/projects.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/achievements/achievements.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/equipment/equipment.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/staff/staff.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/footer/footer.scss')
		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./fonts/fonts.css')


		link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href='./layout/swiper/swiper-bundle.min.css')
		script(src="./js/swiper/swiper-bundle.min.js", defer)
		script(src="./js/parallax/parallax.min.js", defer)

		script(src="./js/about/about.js", defer)
		script(src="./js/header/header.js", defer)

	body
		header
			include ./layout/header/header.pug
		main#pageContentParent
			include ./layout/about/about.html
			include ./layout/projects/projects.pug
			include ./layout/achievements/achievements.pug
			include ./layout/equipment/equipment.pug
			include ./layout/staff/staff.pug
			include ./layout/footer/footer.pug





