-
	const year = "© " + process.env.BUILD_YEAR + " RTUITLab"

article(id="contacts" class="footer__parent" style="background-image: url(\"/images/footerBackground.webp\")")
	section(class="footer__title")
		h1 Хотите связаться с нами?
		h2 Пишите на почту&nbsp;
			a(href="mailto:contact@rtuitlab.dev") contact@rtuitlab.dev
	section(class="footer__bottomParent")
		section(class="footer__bottomLinks")
			a(href='https://www.youtube.com/channel/UC3nHF99l4aYHUvOqXkrKsaQ' target='{"_blank"}')
				img(src='/images/icons/youtube.webp' alt='YouTube logo' width="48" height="48")
			a(href='https://vk.com/rtuitlab' target='{"_blank"}')
				img(src='/images/icons/vk.webp' alt='VK logo' width="48" height="48")
			a(href='https://github.com/rtuitlab' target='{"_blank"}')
				img(src='/images/icons/github.webp' alt='GitHub logo' width="48" height="48")
		p
			= year
