.achievementsParent {
  overflow-x: hidden;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    h1 {
      font-weight: bold;
      font-size: 56px;
      line-height: 66px;
      text-align: center;
      padding: 0px;
      margin: 0px;

      @media (max-width: 400px) {
        font-size: 40px;
      }
    }

    .logo {
      width: 50vw;
      max-width: 300px;
    }

    .text {
      max-width: 950px;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #666666;
      padding: 0 15px;

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }

    .swiper {
      width: 100%;
      max-width: 100vw;
      height: 500px;
      overflow-x: hidden;
      display: flex;
      flex-direction: column-reverse;
      cursor: grab;

      @media (max-width: 510px) {
        height: 420px;
      }
      @media (max-width: 400px) {
        height: 400px;
      }

      // For statusBar in swiper, other in index.css --> .swiper-pagination
      & div:nth-child(1) {
        --swiper-theme-color: #0066cc;
        --swiper-pagination-bullet-inactive-color: white;
        display: flex;
        justify-content: center;
        column-gap: 10px;

        & span {
          transition: all 250ms ease;
          cursor: pointer;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          opacity: 1;
          border: 3px #0066cc solid;
        }

        @media (max-width: 700px) {
          column-gap: 0px;
          row-gap: 5px;
          flex-wrap: wrap;
          & span {
            width: 5px;
            height: 5px;
          }
        }
      }

      // for swiper elements
      & div:nth-child(n) {
        display: flex;
        width: fit-content;
        justify-content: center;
        flex-shrink: 1 !important;

        & div:nth-child(n) {
          height: fit-content;
          max-height: 440px;
        }
      }
    }
  }
}
