extends ../layout/projectPageTemplate/projectPageTemplate.pug

block variables
	-
		let obj = {"title":"BunnyHuntVR - Web VR шутер","description":"VR игра, обороняйте грядки от проворных и назойливых зайцев. Узнайте сколько морковки вы сможете сохранить.","images":["https://github.com/RTUITLab/WebVRShoot/raw/master/LANDING/BunnyHuntVR.png","https://github.com/RTUITLab/WebVRShoot/raw/master/LANDING/BunnyHuntVR2.png"],"videos":[],"tags":["VR","Game","Shooter"],"tech":["A-Frame","Javascript","Html"],"developers":["Соколов А.В","Иерусалимов И.Д."],"site":"https://webvrshoot.rtuitlab.dev/","sourceCode":[{"name":"Проект","link":"https://github.com/RTUITLab/WebVRShoot"}],"date":"25/01/2022"}