extends ../layout/projectPageTemplate/projectPageTemplate.pug

block variables
	-
		let obj = {"title":"MicroFileServer (файловый сервер для небольших файлов)","description":"Данный сервис был разработан для добавления к отчетам сотрудников лаборатории\nдополнительных файлов (референсных картинок, видеодемонстраций и т.д.)","images":["https://github.com/RTUITLab/ITLab-MFS/raw/master/"],"videos":[],"tags":["Backend"],"tech":["Go","MongoDB"],"developers":["Комар Б.Г."],"site":null,"sourceCode":[],"date":"02/03/2022"}