extends ../layout/projectPageTemplate/projectPageTemplate.pug

block variables
	-
		let obj = {"title":"Plane crash simulator","description":"Симулятор, помещающий пользователя в ситуацию, когда он находится в падающем самолете","images":["https://github.com/RTUITLab/PlaneCrashSimulator/raw/master/landing/1.png","https://github.com/RTUITLab/PlaneCrashSimulator/raw/master/landing/2.png","https://github.com/RTUITLab/PlaneCrashSimulator/raw/master/landing/3.png"],"videos":[],"tags":["VR"],"tech":["Unity","Steam VR","C#"],"developers":["Валяев Д.А.","Шорин И.А."],"site":null,"sourceCode":[{"name":"Source code","link":"https://github.com/RTUITLab/PlainCrashSimulator"}],"date":"02/03/2022"}