extends ../layout/projectPageTemplate/projectPageTemplate.pug

block variables
	-
		let obj = {"title":"ЗИЛ","description":"Проект для futurift кресла, который помещает игрока в зону боевых действий, где необходимо оторваться от преследования.","images":["https://github.com/RTUITLab/Project-3IL/raw/master/landing/0.png","https://github.com/RTUITLab/Project-3IL/raw/master/landing/1.png","https://github.com/RTUITLab/Project-3IL/raw/master/landing/2.png","https://github.com/RTUITLab/Project-3IL/raw/master/landing/3.png"],"videos":[],"tags":["VR"],"tech":["Unity","Steam VR","C#"],"developers":["Смирнов М.А.","Новаков Н.Ю.","Егоркин Н.Е.","Валяев Д.А.","Макаров Д.В.","Макущенко М.А.","Баканова М.В.","Шорин И.А.","Иерусалимов И.Д."],"site":null,"sourceCode":[{"name":"Source code","link":"https://github.com/RTUITLab/Project-3IL"}],"date":"02/03/2022"}